*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  list-style: none;
  padding: 0;
}
/* ! GENERAL STYLES ---------------------------*/
html {
  min-height: 100%;
}
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #263238;
  line-height: 1.5;
  /* overflow-x: hidden;
  overflow-y: hidden; */
  min-height: 100vh;
}
#root {
  min-height: 100vh;
}
a {
  cursor: pointer;
  text-decoration: none;
}
a:hover {
  color: #2196f3;
}
/* a:link {
  color: inherit;
}
a:visited {
  color: #ae63e4;
} */
.app {
  display: flex;
  flex-direction: column;
}
/* ! SIDEBAR STYLES ---------------------------*/
.aside {
  flex: 0 0 350px;
  padding: 1rem;
  /* height: 100vh; */
  position: sticky;
  top: 0;
  background-color: white;
}
.sidebar {
  display: flex;
  flex-direction: column;
}
.sidebar-content {
  padding: 1rem;
  /* margin-bottom: 40px; */
}
.logo-container {
  display: flex;
  align-items: center;
  column-gap: 10px;
  margin-bottom: 1rem;
}
.logo-img {
  width: 40px;
  height: 40px;
}
.logo-text {
  color: #263238;
  font-size: 1.5rem;
}
.logo-brand {
  font-weight: normal;
}
.logo-colors {
  font-weight: bold;
}
.sidebar-links {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
.text-links {
  font-weight:bold;
  display: flex;
  gap: 10px;
}
.sidebar-img {
  width: 130px;
  height: auto;
  object-fit: cover;
}
.desc-link {
  color: #607d8b;
}
.ads {
  color: rgba(38, 50, 56, 0.4);
  text-transform: uppercase;
  font-size: 10px;
}
.added-parag-1, .added-parag-2 {
  /* max-width: 32ch; */
  color: #607d8b;
}
.added-parag-1 {
  margin-bottom: 1.5rem;
  
}
.added-parag-2 {
  padding-block:1.5rem;
  border-block: 1px solid #e0e0e0;
  margin-bottom: 10px;
}
.added-parag-2 a {

}
.added-parag-2 a span {
  color: #263238;
  display: block;
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
}

/* ! SIDEBAR SOCIAL ICONS STYLES ---------------------------*/
.social-icon-list {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 5px;
  background-color: rgb(216, 223, 226);
  position: sticky ;
  /* left: 50%; */
  /* transform: translateX(-50%); */
  /* top: calc(100vh - 56px); */
  /* bottom: 0; */
  margin-top: auto;
  padding: 0.5rem;
  width: 100%;
}
.social-item {
  width: 40px;
  height: 40px;
}
.social-icon-link {
  
}
.social-icon {
  width: 100%;
}
@media (width >= 1024px) {
  .aside {
    /* min-height: 100vh; */
  }
  .sidebar {
    position: sticky;
    top: 1rem;

  }
  .text-links {
    flex-direction: column;
    padding-bottom: 1rem;
  }
  .social-icon-list {
    

  }
}


/* ! MODAL STYLES ---------------------------*/
.modal-container {
  position: relative;

}
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  box-shadow: 0px 10px 15px 5px rgba(0,0,0,0.1);
  max-width: 60%;
  padding: 2rem;
  z-index: 99;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
.overlay {
  position: absolute;
  background-color: rgba(75, 85, 99, 0.5);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.modal-close-icon-container {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 40px;
  height: 40px;
  background-color: #f3f4f7;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.modal-close-icon {
  width: 30px;
  height: 30px;
}

/* ! HEADER STYLES ---------------------------*/
.header {
  height: 60px;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  background-color: white;
  position: sticky;
  top: 369.6px;
}
.left-side, .right-side, .all-brands {
 display: flex; 
 align-items: center;
 justify-content: center;
 column-gap: .5rem;
}
.right-side {
  display: none;
}
.search-input {
  border: none;
  outline: none;
  font-size: 16px;
}
.search-input::placeholder {
  color: rgba(0,0,0, 0.3);
  font-weight: bold;
}
.search-icon {
  width: 30px;
  height: 30px;
}
.brands-collected {
  color: #e0e0e0;
  border-right: 1px solid #e0e0e0;
  padding-inline: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
}
.collected-icon {
  width: 24px;
  height: 24px;
}
.all-brands {
  color: rgba(96, 125, 139, 0.7);
}
.all-brands:hover {
  color: rgba(96, 125, 139, 1);
  cursor: pointer;
}
.download-icon {
  width: 30px;
  height: 30px;
}

/* ! CONTENT STYLES ---------------------------*/
.content {
  padding-left: 1rem;
  /* overflow: hidden; */
}
.color-list {
  display: flex;
  flex-direction: column;
}
.brand-color-box {
  display: grid;
  gap: 0.5rem;
  padding-block: 1rem;
  border-bottom: 1px solid #e0e0e0;
}
.brand-color-box.selectedBrand {
  
}

.brand-name {
  font-size: 20px;
  display: inline-block;
  margin-bottom: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: 10px;
}
.brand-name > svg {
  color: #00a4e4;
}
.colors {
  display: flex;
  gap: 10px;
}
.color {
  min-width: 40px;
  min-height: 40px;
  cursor: pointer;
  background-color: var(--bg-color);
  border: 1px solid var(--br-color);
}
.brand-color-box.selectedBrand > .colors > .color {
  flex:1;

}

/* ! MEDIA QUERY STYLES ---------------------------*/
@media (width >= 652px) {
  .header {
    position: sticky;
    top: 350px;
  }
  .right-side {
    display: flex;
  }
  .brand-color-box {
    grid-template-columns: 120px 1fr;
    align-items: start;
  }
  .colors {
    flex-wrap: wrap;
  }
  .color {
    min-width: 60px;
  }
  .brand-name {
    min-width: 120px;
    margin-block: auto;
  }
}
@media (width >= 1024px) {
  .app {
    flex-direction: row;
  }
  .aside {

  }
  .main {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    border-left: 1px solid #e0e0e0;
  }
  .header {
    position: sticky;
    top: 0px;
  }
  .brand-color-box {
    position: relative;
  }
  .brand-name > svg {
    position: absolute;
    left: -30px;
    background-color: white;
    width: 30px;
    height: 30px;
    padding-top: 2px;
    padding-bottom: 5px;
  }

}